[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
